@import "mixins/mixin";

@include swichToggleBtn();

#mbwayOrderCancelHelp {
    @include helperSmall();
}
.callback-list-group {
    margin-top:15px !important;
    .callback-list {
        height: 55px;
        #callbackUrl {
            text-align:left;
        }
    }
}

.chooseNewEntidadeDiv {
    display: flex;
    #chooseNewEntidade {
        margin-left: 160px;
    }
    .appSpinner {
        margin-top: 0;
        margin-left: 0;
    }
}

